* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    height: 100dvh;
}

.left {
    height: 100%;
    background-image: url("./assets/background.jpg");
    background-size: 140%;
    background-repeat: no-repeat;
    background-position: right;
}