@font-face {
    font-family: Jost;
    src: url("./assets/fonts/Jost/Jost-VariableFont_wght.ttf")
}

:root {
    --primary-colour: #547ca3;
    --primary-colour-lighter: hsl(210, 32%, 53%);
    --primary-colour-darker: hsl(210, 32%, 43%);
    --dark-colour: #334463;
    --light-colour: hsl(214, 44%, 98%);
    --highlight-colour: rgb(38, 96, 202);
    --error-colour: hsl(0, 100%, 50%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
input,
button {
    font-family: "Jost", Arial, Helvetica, sans-serif;
}

main {
    height: 100dvh;
    display: flex;
    align-items: center;
}

/* left-side */
.left {
    min-height: 100%;
    min-width: 30%;
    flex: 1 1 auto;
    background-image: url("./assets/images/background.jpg");
    background-size: clamp(2000px, 140%, 5000px) auto;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
    font-size: 80px;
    letter-spacing: 1rem;
    color: white;
    display: flex;
    align-items: first baseline;
    justify-content: center;
    position: relative;
}

.site-name {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    padding: 20px;
    gap: 1rem;
    position: absolute;
    top: 150px;
}

.logo {
    height: 150px;
}

.credit {
    flex-shrink: 0;
    padding: 10px;
    text-align: center;
    color: white;
}

.left a {
    color: white;
}


/* right-side */
.right {
    flex: 5 1 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
    background-color: var(--light-colour);
}

.right div {
    padding: 0 40px;
}

article {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    width: 100%;
    padding: 30px 40px;
}

.header>p {
    font-weight: bold;
}

p,
h2 {
    font-size: 1.1rem;
}

form {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.fields {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
}

li {
    display: flex;
    flex-direction: column;
}

label {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.6rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
    margin: 0 0 3px 1.5px;
}

label.error {
    color: var(--error-colour);
}

input {
    font-size: 1rem;
    width: 300px;
    border: 1px solid #ababab;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
}

input.error {
    border: 1.8px solid var(--error-colour);
}

input:focus {
    border: 1.8px solid var(--highlight-colour);
    box-shadow: 4px 4px 6px -1px rgba(0, 0, 0, 0.2);
}

.error-message {
    color: var(--error-colour);
    display: none;
}

.error-message.error {
    display: block;
}

button {
    max-width: 200px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    white-space: nowrap;
    padding: 10px;
    background-color: var(--primary-colour);
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 4px 4px 6px -1px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: var(--primary-colour-lighter);
}

button:active {
    background-color: var(--primary-colour-darker);
}